---
layout: default
css-include: /css/main.css
sorted: 1
---

<section id="kHeader" class="carousel">
    <div class="carousel-item active">
        <div class="carousel-item-content pl-4 pr-4">
            <div class="slide-background" style="background-image: url(/assets/img/screenshot.png)"></div>
            <div class="carousel-text-overlay">
                <h1>{{ site.title }}</h1>
                <p>{{ site.description }}</p>
            </div>
        </div>
    </div>
</section>

<main aria-label="Content" style="margin-right=none;" id="content" class="container">
    <h1>{{ site.title }} - {{ site.description }}</h1>
    <p style="max-width:none;"><b>Cantor</b> is an application that lets you use your favorite mathematical applications from within a nice KDE-integrated Worksheet Interface. It offers assistant dialogs for common tasks and allows you to share your worksheets with others.</p>
    
    <h1>Features</h1>

    <div class="block">
        <div class="kAppInfo">
            <div class="kAppInfo-content">
                <h2>Support to several backends</h2>
                <p style="max-width:900px;">Cantor supports several "backends" - the "mathematical programming languages" utilized to run the commands. Currently Cantor supports 11 backends - <a href='http://julialang.org/'>Julia</a>, <a href='http://edu.kde.org/kalgebra/'>KAlgebra</a>, <a href='http://lua.org/'> Lua</a>, <a href='http://maxima.sourceforge.net/'>Maxima</a>, <a href='https://gnu.org/software/octave/'>Octave</a>, <a href='http://python.org/'>Python 2 and 3</a>, <a href='http://qalculate.sourceforge.net/'>Qalculate</a>, <a href='http://r-project.org/'>R</a>, <a href='http://sagemath.org/'>Sage</a>, and <a href='http://scilab.org/'>Scilab</a> - and more backends can be added just implementing a new Cantor plugin!</p>
            </div>
            <img src="/assets/img/backends.gif" class="preview">
        </div>
    </div>
    
    <div class="block">
        <div class="kAppInfo">
            <div class="kAppInfo-content">
                <h2>Rich command processing</h2>
                <p style="max-width:900px;">Cantor allows you to run commands of your favourite "mathematical programming language" assisted by syntax highlighting and tab-completion for functions, reserved words and variables. It is possible to see the outputs inside the worksheet or export to PDF, LaTeX, plain-text, and Jupyter notebooks!</p>
            </div>
            <img src="/assets/img/processing.gif" class="preview">
        </div>
    </div>
    
    <div class="block">
        <div class="kAppInfo">
            <div class="kAppInfo-content">
                <h2>Variables Management</h2>
                <p style="max-width:900px;">Cantor provides a side panel to manage variables. It is possible to see the values, the size, or the type of variables utilized in the environment. In addition, it is possible to change the variables values from the side panel!</p>
            </div>
            <img src="/assets/img/variables.gif" class="preview">
        </div>
    </div>
    
    <div class="block">
        <div class="kAppInfo">
            <div class="kAppInfo-content">
                <h2>Plotting graphics in the worksheet</h2>
                <p style="max-width:900px;">Cantor provides a side panel to manage variables. It is possible to see the values, the size, or the type of variables utilized in the environment. In addition, it is possible to change the variables values from the side panel!</p>
            </div>
            <img src="/assets/img/plotting.gif" width="498" heigth="298" class="preview">
        </div>
    </div>
    
    <div class="block">
        <div class="kAppInfo">
            <div class="kAppInfo-content">
                <h2>Rendering outputs in LaTeX or Markdown</h2>
                <p style="max-width:900px;">Cantor allows you to write beautiful texts using LaTeX or Markdown. Now your worksheet you be beautiful and easy to write!</p>
            </div>
            <img src="/assets/img/rendering.gif" class="preview">
        </div>
    </div>
    
    <div class="block">
        <div class="kAppInfo">
            <div class="kAppInfo-content">
                <h2>And more!</h2>
                <ul>
                    <li>Easy plugin based structure to add different Backends;</li>
                    <li>Integration to retrieve and share worksheets;</li>
                    <li>Plugin based assistant dialogs for common tasks (like integrating a function or entering a matrix);</li>
                    <li>Integration of the selected environment's help in the user interface;</li>
                    <li>Script editor for work with big-sized code;</li>
                    <li>...</li>
                </ul>
            </div>
            <img src="/assets/img/help.gif" class="preview">
        </div>
    </div>

</main>
